//-------------------------------------------------------------------------
// Libraries
//-------------------------------------------------------------------------
@import "compass/utilities/general"
@import "compass/css3"
@import "lib/buttons"

//-------------------------------------------------------------------------
// Compass config
//-------------------------------------------------------------------------
$experimental-support-for-svg: false
$default-has-layout-approach: zoom

//-------------------------------------------------------------------------
// Dimensions
//-------------------------------------------------------------------------
$SITE_WIDTH: 960px
$HEADER_HEIGHT: 100px
$MAIN_TOP_OFFSET: 8px

$GRID_ROWS: 12
$GRID_WIDTH: 900px
$GRID_MARGIN: 15px

$GRID_CELL_WIDTH: $GRID_WIDTH / $GRID_ROWS

//-------------------------------------------------------------------------
// Colors & fonts
//-------------------------------------------------------------------------
$COLOR_MAIN: #76BBCA
$COLOR_ACCENT: #BEA655
$COLOR_HEADER: #F0F5F6
$COLOR_TITLEBAR: #96ADB7
$COLOR_BUTTONS: lighten( $COLOR_MAIN, 10% )

$FONT: Helvetica, Arial, sans-serif
$FONT_HEADINGS: $FONT

//-------------------------------------------------------------------------
// Mixins
//-------------------------------------------------------------------------

/*-------------------------------------------------------------------------
/* General
/*-------------------------------------------------------------------------
*
  :-moz-box-sizing border-box
  :box-sizing border-box

BODY
  :margin 0

IMG
  :border none

HEADER, SECTION, FOOTER, NAV
  :display block

NAV
  UL
    :list-style none
    :margin 0
    :padding 0
    LI
      :display inline-block
      :*display inline

/*-------------------------------------------------------------------------
/* Typography
/*-------------------------------------------------------------------------
BODY
  :font-size 75%
  :font-family $FONT
  :color #333

PRE, CODE, TT, KBD
  :font-family 'Courier New' Courier monospace
  :font-size 1.2em

H1
  :margin 10px 0
  :font-size 18px
  :font-weight normal
  :color #FFF

H2
  :margin 0 0 10px
  :font-size 22px

H3
  :margin 0 0 10px
  :font-size 18px

H1, H2, H3
  :font-family $FONT_HEADINGS

H2, H3, H4
  :color #A0C0C2

P, UL, OL, DL
  :margin 1.4em 0

EM
  :font-style normal

HR
  :height 1px
  :border none
  :border-bottom 1px solid #666

.hidden
  :display none
  
/*-------------------------------------------------------------------------
/* Display
/*-------------------------------------------------------------------------
.aligned_left
  :float left
  :margin 0 1em 1em 0

.aligned_right
  :float right
  :margin 0 0 1em 1em
  
/*-------------------------------------------------------------------------
/* Page Backgrounds
/*-------------------------------------------------------------------------
BODY
  :background #8C9394

.Header
  :background $COLOR_HEADER url(/img/header_bg.jpg) no-repeat center bottom

.TitleBar
  :background $COLOR_TITLEBAR url(/img/titlebar_bg.jpg) no-repeat center top

.Main
  :background url(/img/main_bg.jpg) no-repeat center 0px

.MainWrapper
  :background #F8FAFB

/* The -48px is a magic number that must change if the height of the
 * .TopPageNav changes. */
.ContentWrapper
  :background #E9E8E5 url(/img/content_wrapper_bg.jpg) no-repeat center -74px

/*-------------------------------------------------------------------------
/* Grid
/*-------------------------------------------------------------------------
@for $i from 1 through $GRID_ROWS
  .grid_#{$i}
    :width ($i * $GRID_CELL_WIDTH) - (2 * $GRID_MARGIN)

.col
  :margin 0 $GRID_MARGIN
  :overflow hidden
  :float left
  :display inline

.row
  +clearfix
  :width $GRID_WIDTH
  :margin (2 * $GRID_MARGIN) auto

.row .row
  :margin (2 * $GRID_MARGIN) (-$GRID_MARGIN) 0
  :width auto
  :display inline-block

/*-------------------------------------------------------------------------
/* Structure
/*-------------------------------------------------------------------------
.Header
  
  .HeaderWrapper
    :width $SITE_WIDTH
    :margin 0 auto
  .Logo
    :padding 10px 0
    :text-align right
    A
      :text-decoration none

.TitleBar
  :padding 6px 15px 6px 30px
  +border-radius( 5px )

#MainNav
  :margin -35px 0 45px
  
  .lte7 &
    /* IE7: Fix issue where sf-menu is under other elements.
    :position relative
    :z-index 1

#SubNav
  :margin-top -44px

.Main
  :border-top 4px solid #FFF
  :margin-bottom 1em
  .MainWrapper
    :width $SITE_WIDTH
    :margin 0 auto
    :padding 20px 20px 10px

.Content
  :clear both
  :margin-top 60px
  .ContentWrapper
    +clearfix
    +border-radius( 5px )
    :padding 0
    SECTION
      +clearfix
      :border 1px solid #DBDBD8
      +border-radius( 5px )
      :background #F8FDFF
      :padding 1em 2em

.TopPageNav
  +clearfix
  :margin 0 0 1em
  :display none

.BottomPageNav
  :clear both
  +clearfix
  :margin 1em 0 0

/*-------------------------------------------------------------------------
/* Buttons
/*-------------------------------------------------------------------------
.button, BUTTON
  +button( $COLOR_BUTTONS )
  :border-width 0

INPUT[type=submit], INPUT[type=button]
  +button( $COLOR_BUTTONS )
  :border-width 0

.button
  :padding .2em 1em
  .ie7 &
    :position relative
    :top -.15em
    :padding .2em 1em

.call_to_action
  :font-size 1.6em

/*-------------------------------------------------------------------------
/* Icons
/*-------------------------------------------------------------------------
.icon
  :padding-left 24px
  :background
    :repeat no-repeat
    :position 6px center

.icon_arrow
  :background-image url(/img/icons/button_arrow.png)
  .ie6 &
    :background-image url(/img/icons/button_arrow.gif)

/*-------------------------------------------------------------------------
/* Components
/*-------------------------------------------------------------------------
.page_nav
  :padding 10px
  :float right

.content_img
  :line-height 1px
  :display inline
  :padding 5px
  :border 1px solid #DBDBD8
  +border-radius(5px)

/*-------------------------------------------------------------------------
/* Components Instances
/*-------------------------------------------------------------------------
