!!! 5

- ie_html :class=>'no-js' do

  %head
    %title #{@title}
    
    /[if lt IE 9]
      %script{ :type=>"text/javascript", :src=>"/js/html5.js" }
    
    %script{ :type=>"text/javascript", :src=>"/js/jquery.js" }
    %script{ :type=>"text/javascript", :src=>"/js/plugins/jquery.metadata.js" }
    
    %link{ :rel=>:stylesheet, :type=>"text/css", :href=>"/css/main.css" }

  %body{ :class=>[page_class] }
    
    %section.Header#Header
      .HeaderWrapper
        .Logo#Logo
          %a{ :href=>"/" }
            %img{ :src=>"/img/site_logo.gif" }
        %h1 #{@h1 || @title}
    
    %section.Main#Main
      .MainWrapper
        
        %section.TopPageNav#TopPageNav
          %nav
            %ul
              %li
                %a Basics
        
        %section.Content#Content
          .ContentWrapper
            = @content
        
        %section.BottomPageNav#BottomPageNav
          %nav
            %ul
              %li
                %a Basics
    
    %script{ :type=>"text/javascript", :src=>"/js/site.js" }
    
    = render_partial "shared/debug_info"
