- links = []
- links << "Overview"
- links << "What is BSA"
- links << "Penalties"
- 5.times{ links << Faker::Lorem.words(3).join(" ") }

%ul
  %li
    %a{ :href=>"#" } BSA Basics
    %ul
      - links.each to |link|
        %li
          %a{ :href=>"#" } #{link}
