- links = []
- links << "Overview"
- links << "What is BSA"
- links << "Penalties"
- 5.times{ links << Faker::Lorem.words(3).join(" ") }

%ul.sf-menu.sf-skin-sub-nav
  %li
    %a BSA Basics
    %ul
      - links.each_with_index do |link, i|
        %li
          %a{ :href=>"#foo_#{i}" } #{link}
