- @title = "Hello World"

.row
  .col.grid_12
    %section
      %h2 Example Page Layouts
      %ul
        %li
          %a{ :href=>route("bsa/about") } Basic Layout
        %li
          %a{ :href=>route("bsa/basics") } Simple Grid
        %li
          %a{ :href=>route("bsa/overview") } Complex Grid